<h1>
  {{title}}
</h1>

<!-- <img [src]="foto">

<button (click)="enviarMsg()">Enviar alerta</button>

<app-lista-pessoa></app-lista-pessoa>

<app-interpolation-binding></app-interpolation-binding>

<app-property-binding></app-property-binding>

<app-two-way-binding></app-two-way-binding>

<app-ng-if></app-ng-if>

<app-ng-switch-case></app-ng-switch-case>

<app-ng-for></app-ng-for>

<app-ng-class></app-ng-class>

<app-ng-style></app-ng-style>

<app-ng-content>
  <div class="titulo">
    Título do conteúdo
  </div>
  <div class="corpo">
    Primeiro conteúdo com select
  </div>
  <div class="corpo">
    Segundo conteúdo com select
  </div>
</app-ng-content>

<app-event-binding></app-event-binding>

<app-input-output [menu]="desenvolvimento" (nomeClidado)="valorPassado($event)"></app-input-output>

<p>Você clicou em {{valor}}</p> -->

<!-- <app-formulario></app-formulario> -->

<app-dependency-injection></app-dependency-injection>